#wrapper {
    margin: auto;
    width: 700px;
    height: 730px;
    align-content: center;
    padding: 10px 20px;
    background-color:rgba(117, 190, 218, 0.75);
    box-shadow: 0 0 10px 2px;
}
#wrapper ul li {
    list-style-type: none;
    width: 595px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    box-shadow: 1px 1px 15px;
    background-color: rgba(117, 190, 218, 0.65);
}
#wrapper ul li img{
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;
}
#wrapper ul li .text {
    color: #3f51b5;
}
